.home-product {
  height: 80vh;
  background: linear-gradient(to bottom, white 50%, #78bf54 50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
.home-product .product {
  width: 25vw;
  height: 60vh;
  background-image: url(../../images/product.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}
.home-product .product::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  border-radius: 5px;

  bottom: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.052), rgb(0, 0, 0));
}
.home-product .product .product-detail {
  position: absolute;
  bottom: 0;
  padding: 20px;
  left: 0;
  right: 0;
}
.home-product .product .product-detail h3 {
  font-weight: 600;
  color: #fff;
}
.home-product .product .product-detail h4 {
  color: #78bf54;
}
.home-product .section-btn {
  background-color: #254294;
  color: #fff;
}

.home-product .right {
  width: 80vw;
  height: 50vh;
  background-color: #254294;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
}
.home-product .right form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: inherit;
  width: 100%;
}
.home-product .right form > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.home-product .right form > div > input {
  width: 50%;
  padding: 10px;
  height: 20px;
  border: solid 1px gray;
  color: #fff;
  outline: none;
}
.home-product .right form textarea {
  height: 20vh;
  width: 100%;
  padding: 10px;
  outline: none;
}
.home-product .right .section-btn {
  border: none;
  margin-top: 2vh;
  background-color: #78bf54;
  color: #fff;
}
