footer {
  height: 40vh;
  background-color: #254294;
  display: flex;
  justify-content: center;
  color: #f5f5f5;
  align-items: center;
  overflow-x: hidden;
  flex-direction: column;
}

footer .container {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .container .logo {
  width: 300px;
}

footer .copyright {
  margin-top: 2vh;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-top: solid 1px gray;
}
footer .copyright a {
  color: #fff;
  margin-left: 3px;
}

@media (max-width: 992px) {
  footer {
    height: auto;
    margin-top: 10vh;
  }
  footer .copyright {
    flex-direction: column;
    padding: 10px;
  }
}
