.why-us {
  width: 100vw;
  height: 85vh;
  margin-bottom: 10vh;
}
.why-us .image {
  width: 100vw !important;
  height: 45vh;
  background-position: center;
  background-size: cover;
  background-image: url(../../images/truck.jpg);
}
.why-us .container {
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-us .container .content {
  width: 80vw;
  height: auto;
  background-color: #fff;
  margin-top: -30vh;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 10px #e3e3e3;
  border-radius: 5px;
}
.why-us .container .content .left {
  width: 50%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.why-us .container .content .right {
  width: 50%;
  height: 60vh;
  background-image: url(../../images/products.jpeg);
  background-position: center;
  background-size: cover;
}
.why-us .container .content .left .advantage {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.why-us .container .content .left .advantage .icon-div {
  background-color: #78bf54;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.why-us .container .content .left .advantage .icon {
  font-size: 20px;
}

@media (max-width: 992px) {
  .why-us {
    height: auto;
    margin-bottom: 10vh;
  }
  .why-us .container {
    height: auto;
  }
  .why-us .container .content {
    width: 80vw;
    height: auto;
    flex-direction: column;
  }
  .why-us .container .content .left {
    width: 100%;
    height: auto;
  }
  .why-us .container .content .left .section-tag {
    margin-bottom: 3vh;
  }
  .why-us .container .content .right {
    width: 100%;
    height: 50vh;
    margin-top: 2vh;
  }
  .why-us .container .content .left .advantage {
    margin-top: 3vh;
  }
}
